<div class="auth-container">
    <h1> Yeni Şifre</h1>

    <form action="/reset-password/{{token}}" method="POST" class="auth-form">
        <input type="password" name="password" class="auth-input" placeholder="Şifre" required>
        <button type="submit" class="auth-btn"> Şifreyi Yenile</button>
    </form>
    {{#if error}}
    <div class="alert">
        {{error}}
    </div>
    {{/if}}

    <a href="/login" class="auth-link">Giriş Yap</a>
</div>